body {
  width: 100vw;
  color: black;
  font-size: 1rem;
  text-align: center;
  font-family: Titillium Web;
}

h1 {
  font-family: Open Sans Condensed;
  color: #4463ae;
  font-weight: lighter;
  font-size: 3rem;
  padding: 30px;
}

h2 {
  font-family: Open Sans Condensed;
  color: #4463ae;
  font-weight: lighter;
  font-size: 2rem;
  padding: 0;
  margin-bottom: 0;
}

h3 {
  font-family: Open Sans Condensed;
  color: grey;
  font-size: 1rem;
  margin: 5px 0 20px 0;
}

a i {
  padding-bottom: 20px;
  font-size: 2rem !important;
}

a:hover {
  text-decoration: none;
}

form .form-control {
  border: 1px solid #4463ae;
}

form label {
  color: white !important;
  font-size: 1.5rem !important;
}

form button {
  color: white !important;
  background-color: #4463ae !important;
  border: 1px solid #4463ae !important;
}

#banner {
  background: linear-gradient(to left top, #7dced3 50%, #4463ae 50%);
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  justify-content: center;
  align-items: center;
  /* top: -250px; */
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
}

#title {
  font-family: Open Sans Condensed;
  color: white;
  font-size: 6rem;
}

#subtitle {
  font-family: Open Sans Condensed;
  color: white;
  font-size: 2rem;
  margin-bottom: 30px;
}

#cover {
  background-color: #efebe7;
}

#cover-text {
  font-family: Open Sans Condensed bold 700;
  color: #db9671;
  font-size: 2rem;
  text-align: center;
  padding: 20px;
}

#cover img {
  max-height: 100vh;
  max-width: 100%;
}

@media (min-width: 1050px) {
  .container {
    width: 90%;
    max-width: 960px;
  }

  .card.full-height {
    min-height: 90vh;
  }
}

@media (max-width: 1050px) {
  .container {
    width: 100%;
    max-width: none !important;
  }

  .text {
    max-width: 90% !important;
  }
}

.container {
  padding: 0 !important;
  margin: auto !important;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  background-color: transparent !important;
  border-radius: 0 !important;
  border: 0 !important;
}

#team {
  background-color: #efebe7;
}

#team .card p {
  text-align: left;
  width: 80%;
}

.img-with-margin {
  max-width: 90vw;
  margin-bottom: 10px;
}

.img-with-margin.half {
  max-width: 70vw;
}

.photo-id {
  width: 200px;
  border-radius: 50%;
  margin-top: 40px;
}

footer {
  background-color: #4463ae;
  padding: 30px;
}

footer p {
  color: white;
}

footer a {
  color: white;
}

footer i.fab {
  font-size: 1.5rem;
}

footer a:hover {
  color: black;
}

footer li {
  display: inline-block;
}

.text {
  max-width: 700px;
  text-align: left;
  font-size: 1rem;
  margin: 40px 0;
}

.center {
  text-align: center;
}
